<Configuration status="info">
    <Appenders>
        <Console name="default" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.autotune" level="trace" additivity="false">
            <appender-ref ref="default" level="trace"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="default"/>
        </Root>
    </Loggers>
</Configuration>